body{
    background-color: black;
    overflow: hidden;
}
span{
    /* border: 1px solid green; */
    color: greenyellow;
    position: absolute;
    /* transition: 2s; */
}
#game{
    background-color:white;
    width: 500px;
    height:500px;
    /* text-align: center; */
    text-align: center;    
}
h2{
    color: aquamarine;
}